<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/account.css">
    <script src="../static/js/favorites.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Favorites</title>
</head>

<body>
    <img src="../static/images/im1.png" style="max-width: 100%; z-index:99999;"></img>

    <h4 style="margin-inline: 4rem; text-decoration:underline; text-underline-position:below;" id="category-title">
        Favorites
    </h4>

    <div id="product-container">Loading Favorites..</div>

</body>

</html>